.advantages {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages__card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advantages__card:first-of-type::before {
  content: "";
  width: 320px;
  height: 37px;
  position: absolute;
  background-image: url("../img/vector2.svg");
  background-size: 320px 37px;
  background-repeat: no-repeat;
}

.advantages__card--decoration {
  background-color: #81b3d2;
}

.advantages__card-wrapper {
  padding: 33px 23px 37px 22px;
}

.advantages__card-title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 36px;
}

.advantages__card:last-of-type .advantages__card-title {
  padding-top: 5px;
}

.advantages__card-text.number {
  padding-top: 11px;
}

.advantages__card-text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 17px;
}

.advantages__card-text br {
  display: none;
}
// <!-- блок с описанием преимуществ №1  -->
.advantages__list {
  list-style-type: none;
  margin: 0;
  display: grid;
  gap: 22px;
  padding-top: 26px;
  padding-left: 50px;
}

.advantages__item {
  width: 236px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantages__item:last-of-type {
  padding-bottom: 52px;
}

.advantages__item-title {
  margin: 0;
  padding-top: 8px;
  position: relative;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding-top: 16px;
  margin: 0;
  text-align: initial;
}

.advantages__item-img {
  position: absolute;
}

.advantages__item-home {
  left: -47px;
  width: 40px;
  height: 40px;
}

.advantages__item-eat {
  left: -47px;
}

.advantages__item-gift {
  left: -45px;
  top: -4px;
}

.advantages__card-title br {
  display: none;
}
// <!-- блок с описанием преимуществ №2  -->
.advantages__sub-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  background-color: #eeeeee;
  width: inherit;
}

.advantages__sub-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 23px;
}

.advantages__sub-item:not(:last-child)::after {
  display: block;
  background: #d6d6d6;
  content: "";
  align-self: stretch;
  flex-grow: 0;
  height: 1px;
}

.advantages__sub-item-title {
  margin: 0;
  padding-top: 3px;
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.advantages__sub-item-text {
  margin: 15px 0;
}

.advantages__sub-item-description {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding: 0 32px 20px;
  display: block;
}

// планшет
@media (min-width: $tablet-width) {
  .advantages__card {
    flex-direction: row;
  }

  .advantages__card:first-of-type::before {
    content: none;
  }

  .advantages__card.advantages__card--reverse {
    flex-direction: row-reverse;
  }

  .advantages__card-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    font-style: normal;
    width: 216px;
    margin: 0 auto;
    padding-top: 0;
  }

  .advantages__card-text {
    padding-top: 27px;
  }

  .advantages__card-text br {
    display: block;
  }

  .advantages__card-wrapper {
    padding: 34px 18px 43px;
  }

  .advantages__card-img-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
  }

  // <!-- блок с описанием преимуществ №1  -->
  .advantages__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;
    padding: 160px 36px 59px 36px;
  }

  .advantages__item-title {
    padding: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__item {
    width: auto;
    align-items: stretch;
  }

  .advantages__item:last-of-type {
    padding-bottom: 0;
  }

  .advantages__item-home {
    left: 56px;
    top: -108px;
    width: 77px;
    height: 91px;
  }

  .advantages__item-eat {
    left: 50px;
    top: -113px;
    width: 79px;
    height: 104px;
  }

  .advantages__item-gift {
    left: 60px;
    top: -113px;
    width: 82px;
    height: 103px;
  }

  .advantages__item-description {
    text-align: center;
    padding-top: 24px;
  }

  .advantages__card-title br {
    display: block;
  }
  //<!-- блок с описанием преимуществ №2  -->
  .advantages__sub-list {
    padding: 43px 0 51px 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__sub-item:not(:last-child)::after {
    content: none;
  }

  .advantages__sub-item-title {
    font-size: 21px;
    line-height: 26px;
    width: 155px;
  }

  .advantages__sub-item {
    padding: 0;
    font-size: 14px;
    line-height: 21px;
  }

  .advantages__sub-item-description {
    font-size: 14px;
    line-height: 21px;
    padding: 0 40px;
    padding-bottom: 12px;
    padding-top: 7px;
  }
}

// десктоп
@media (min-width: $desktop-width) {
  .advantages {
    align-items: stretch;
  }

  .advantages__list {
    gap: 104px;
    padding: 160px 45px 80px 50px;
  }

  .advantages__item-home {
    left: 113px;
    top: -109px;
  }

  .advantages__item-eat {
    left: 108px;
    top: -114px;
  }

  .advantages__item-gift {
    left: 111px;
    top: -115px;
  }

  .advantages__sub-list {
    justify-content: space-around;
    padding: 40px 0 50px;
  }

  .advantages__card:first-of-type {
    flex-direction: row;
  }

  .description-page__text {
    padding-bottom: 43px;
  }

  .advantages__card-wrapper {
    padding: 40px 90px 35px;
  }

  .advantages__card-title {
    padding: 0;
  }

  .advantages__item-description br {
    display: none;
  }
}
