
.advantages {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card--decoration {
  background-color: #81b3d2;
}

.card__warper {
  padding: 33px 23px 39px 16px;
}

.card__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 8px;
}

.card__text.number {
  padding-top: 11px;
}

.card__text {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 17px;
}

// <!-- блок с описанием преимуществ №1  -->
.advantages__list {
  list-style-type: none;
  margin: 0;
  display: grid;
  gap: 22px;
  padding-top: 25px;
}

.advantages__item {
  width: 238px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantages__item:last-of-type {
  padding-bottom: 52px;
}

.advantages__item-title {
  margin: 0;
  padding-top: 8px;
  position: relative;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.item__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding-top: 16px;
  margin: 0;
  text-align: initial;
}

.advantages__item-img {
  position: absolute;
}

.advantages__item-home {
  left: -47px;
  width: 40px;
  height: 40px;
}

.advantages__item-eat {
  left: -47px;
}

.advantages__item-gift {
  left: -40px;
}


// <!-- блок с описанием преимуществ №2  -->

.advantages__sub-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  width: inherit;
}

.sup-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 27px;
}

.sup-item:not(:last-child)::after {
  display: block;
  background: #d6d6d6;
  content: "";
  align-self: stretch;
  flex-grow: 0;
  height: 1px;
}

.sup-item__title {
  margin: 0;
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.sup-item__text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding: 12px 0;
}

.sup-item__description {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 20px;
  padding-top: 5px;
  display: block;
}

// планшет
@media (min-width: $tablet-width) {
  .card {
    flex-direction: row;
  }

  .card:not(:first-child) {
    flex-direction: row-reverse;
  }

  .card__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    font-style: normal;
  }

  .card__warper {
    padding: 33px 32px 43px;
  }

  .card__img-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
  }

  // <!-- блок с описанием преимуществ №1  -->
  .advantages__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;
    padding: 158px 28px 59px 36px;
  }

  .advantages__item-title {
    padding: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__item {
    width: auto;
    align-items: stretch;
  }

  .advantages__item:last-of-type {
    padding-bottom: 0;
  }

  .advantages__item-home {
    left: 56px;
    top: -108px;
    width: 77px;
    height: 91px;
  }

  .advantages__item-eat {
    left: 50px;
    top: -113px;
    width: 79px;
    height: 104px;
  }

  .advantages__item-gift {
    left: 53px;
    top: -113px;
    width: 82px;
    height: 103px;
  }

  .item__description {
    text-align: center;
    padding-top: 24px;
  }

  //<!-- блок с описанием преимуществ №2  -->
  .advantages__sub-list {
    flex-direction: row;
    padding: 43px 0 51px 0;
  }

  .sup-item:not(:last-child)::after {
    content: none;
  }

  .sup-item__title {
    font-size: 21px;
    line-height: 26px;
    width: 155px;
  }

  .sup-item__text {
    font-size: 14px;
    line-height: 21px;
  }

  .sup-item__description {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
}

// десктоп
@media (min-width: $desktop-width) {
  .advantages {
    align-items: stretch;
  }

  .advantages__list {
    gap: 104px;
    padding: 158px 28px 84px 36px;
  }

  .advantages__item-home {
    left: 117px;
    top: -109px;
  }

  .advantages__item-eat {
    left: 117px;
    top: -109px;
  }

  .advantages__item-gift {
    left: 117px;
    top: -109px;
  }

  .advantages__sub-list {
    justify-content: space-around;
  }

  .card:first-of-type {
    flex-direction: row;
  }

  .description-page__text {
    padding-bottom: 43px;
  }

  .card__warper {
    padding: 46px 94px 43px;
  }

  .card__title {
    padding: 0;
  }
}
