//  <!-- секция Hero каталога -->
.catalog-countainer {
  background-image: url("../../img/index-background-catalog.jpg");
  padding-top: 52px;
  padding-bottom: 67px;
  text-align: center;
  display: block;
}
