.catalog-card__img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
}

.catalog-card-wrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    background-color: #e5e5e5;
    height: 1px;
    width: 320px;
  }
}

.catalog-card__content {
  text-align: start;
}

.catalog-card__title {
  margin: 0;
  padding-top: 15px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 20px;
}

.catalog-card__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

.catalog-card__likes {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding-left: 20px;
}

.catalog-card__likes-svg {
  fill: $black;
  fill-opacity: 0.3;
}

// Планшет
@media (min-width: $tablet-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .catalog-card-wrapper {
    padding-top: 11px;
  }

  .catalog-card__content {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-card__title {
    padding-top: 22px;
  }

  .catalog-card__likes {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .catalog-card__likes-counter {
    margin: 0 7px;
    padding-right: 11px;
  }

  .catalog-card-main {
    padding-top: 37px;
    grid-column: 1/-1;
  }

  .catalog-card__img {
    width: 324px;
    height: 267px;
  }

  .catalog-card-main__img {
    width: 648px;
    height: 400px;
  }

  .catalog-card-wrapper::after {
    content: none;
  }
}

// десктоп
@media (min-width: $desktop-width) {
  .catalog-card-main__img {
    width: 1200px;
  }

  .catalog-card__title {
    padding: 0;
  }

  .catalog-card__text {
    color: $white;
  }

  .catalog-card__img {
    width: auto;
  }

  .catalog-card__likes-counter {
    margin: 0;
    padding-right: 0;
  }

  .catalog-card {
    position: relative;
  }

  .catalog-card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
    position: absolute;
    background-color: (rgba(0, 0, 0, 0.3));
    color: $white;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .catalog-card__likes-svg {
    fill: $white;
    fill-opacity: 1;
  }

  .catalog {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .catalog-card-wrapper {
    padding-top: 0;
  }

  .catalog-card__likes {
    padding: 0;
  }

  .catalog-card__img-wrapper {
    padding: 0;
  }
}
