//  <!-- секция Hero каталога -->
.catalog-hero {
  background-color: $light-blue;
  background-image: url("../img/vector.svg"), url("../img/back-catalog-mobil.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, bottom;
  padding-top: 52px;
  padding-bottom: 64px;
  text-align: center;
  display: block;
  width: 320px;
}

@media (min-resolution: 2dppx) {
  .catalog-hero {
    background-image: url("../img/vector.svg"), url("../img/back-catalog-mobil@2x.jpg");
    background-size: 100%;
  }
}

.catalog-hero__sedona {
  width: 229px;
  height: 39px;
}

// планшет
@media (min-width: $tablet-width) {
  .catalog-hero {
    background-image: url("../img/Vector.svg"), url("../img/back-catalog-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position-y: bottom;
    padding-top: 95px;
    padding-bottom: 114px;
    width: 768px;
  }

  @media (min-resolution: 2dppx) {
    .catalog-hero {
      background-image: url("../img/Vector.svg"), url("../img/back-catalog-tablet@2x.jpg");
      background-size: 100%;
    }
  }

  .catalog-hero__sedona {
    width: 456px;
    height: 77px;
  }
}

// Десктоп
@media (min-width: $desktop-width) {
  .catalog-hero {
    background-image: url("../img/intro-triangle-desktop.svg"), url("../img/back-catalog-desktop.jpg");
    width: 100%;
  }

  @media (min-resolution: 2dppx) {
    .catalog-hero {
      background-image: url("../img/intro-triangle-desktop.svg"), url("../img/back-catalog-desktop@2x.jpg");
      background-size: 100%;
    }
  }

  .catalog-hero__sedona {
    padding-top: 12px;
  }
}
