//   <!-- описани каталога -->
.catalog-description {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;

  &::after {
    content: "";
    background-color: #e5e5e5;
    height: 1px;
    width: 320px;
    display: block;
  }
}

.catalog-description__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.catalog-description__text {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.catalog-description__text br {
  display: none;
}
// Планшет
@media (min-width: $tablet-width) {
  .catalog-description {
    padding-top: 66px;
    width: 458px;

    &::after {
      content: none;
    }
  }

  .catalog-description__title {
    font-size: 30px;
    line-height: 26px;
  }

  .catalog-description__text {
    padding-top: 33px;
  }

  .catalog-description__text br {
    display: block;
  }
}

// Десктоп
@media (min-width: $desktop-width) {
  .catalog-description {
    padding-top: 100px;
  }

  .catalog-description__text {
    padding-bottom: 87px;
  }
}
