.find-hotel-section {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-hotel-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 261px;
}

.find-hotel-section__title {
  margin: 0;
  padding-top: 45px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.find-hotel-section__text {
  margin: 0;
  padding-bottom: 11px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.find-hotel-section__text br {
  display: none;
}

.find-hotel-section__button--tablet {
  width: 284px;
  height: 58px;
  background-color: $light-blue;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.find-hotel-section__map {
  margin-top: 49px;
  background-image: url("../img/map-mobile.jpg");
  border: none;
  height: 350px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/map-mobile@2x.jpg");
  }
}

// Планшет
@media (min-width: $tablet-width) {
  //     <!-- блок с поиском гостиниц -->
  .find-hotel-section__wrapper {
    padding: 40px 89px 29px;
    width: 435px;
  }

  .find-hotel-section__title {
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  .find-hotel-section__text {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .find-hotel-section__text br {
    display: block;
  }

  .find-hotel-section__button--tablet {
    width: 458px;
  }

  .find-hotel-section__map {
    width: 768px;
    height: 350px;
    padding-top: 0;
    margin: 0;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}


// десктоп
@media (min-width: $desktop-width) {
  .find-hotel-section__map {
    width: 1200px;
    background-image: url("img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("img/map-desktop@2x.jpg");
    }
  }

  .find-hotel-section__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  .find-hotel-section__wrapper {
    padding: 60px 155px 60px;
    min-width: 460px;
  }

  .find-hotel-section__text {
    padding-top: 30px;
    padding-bottom: 45px;
  }
}
