
.find-hootle-section {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-hootle-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 261px;
}

.find-hootle-section__title {
  margin: 0;
  padding-top: 38px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.find-hootle-section__text {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.find-hootle-section--button {
  width: 284px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.find-hootle-section__map {
  padding-top: 49px;
}
