.form-users__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-users__title--form {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.form-users__name {
  padding-left: 16px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.form-users__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-users__input {
  font-family: inherit;
  padding: 16px;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  width: 250px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    outline-width: 4px;
    outline-color: #e5e5e5;
  }

  &:focus {
    outline-width: 4px;
    outline-color: #e5e5e5;
  }
}

// Планшет
@media (min-width: $tablet-width) {
  .form-users {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $lighr-gray;
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      left: auto;
    }
  }

  .form-group {
    padding: 0;
    position: relative;

    &::before {
      content: none;
    }
  }

  .form-users__title--form {
    font-size: 21px;
    line-height: 26px;
    padding: 0;
    padding-bottom: 15px;
    position: relative;
  }

  .form-users__title--form-decor {
    &::before {
      content: "";
      position: absolute;
      left: -54%;
      top: 50%;
      height: 1px;
      background-color: #e5e5e5;
      width: 123px;
    }

    &::after {
      content: "";
      position: absolute;
      right: -173px;
      top: 50%;
      height: 1px;
      background-color: #e5e5e5;
      width: 123px;
    }
  }

  .form-users__input {
    min-width: 248px;
  }

  .form-users__name {
    text-align: start;
  }
}

// десктоп
@media (min-width: $desktop-width) {
  .form-users__item {
    align-items: stretch;
  }

  .form-users__input {
    min-width: 398px;
  }

  .form-users__name {
    padding-left: 15px;
    padding-top: 13px;
  }

  .form-users__title--form-decor {
    &::before {
      width: 280px;
      left: 0;
      top: 45%;
    }

    &::after {
      width: 280px;
      right: 0;
      top: 45%;
    }
  }

  .form-users::after {
    right: -28px;
  }

  .form__users.form-users.form-group {
    padding-left: 30px;
  }
}
