// <!-- общее впечатление  -->
.form-choice {
  padding-bottom: 32px;
  padding-top: 32px;
}

.form-choice__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  display: grid;
  gap: 35px;
}

.form-choice__item-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-left: 27px;
}

.form-choice__input:focus + .radio::before {
  background-color: $active-gray;
  outline: 1px solid $black;
}

.form-choice__input:checked + .radio::after {
  content: "";
}

// планщет
@media (min-width: $tablet-width) {
  .form-choice {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;
  }

  .form-choice__list {
    grid-template-columns: 1fr 1fr;
    width: 575px;
    margin: 0 auto;
    padding-top: 40px;
  }


  .form-choice__title {
    width: 308px;
    padding: 0;
    margin: 0 auto;
    position: relative;
  }

  .form-choice__item {
    padding-left: 20px;
  }
}

// desktop

@media (min-width: $desktop-width) {
  .form-choice__list {
    display: flex;
    justify-content: space-around;
    width: 900px;
    padding-top: 56px;
    margin-left: 80px;
  }

  .form-choice__item-label {
    margin: 0;
  }

  .form-choice {
    padding-top: 12px;
  }

  .form-choice__title {
    width: auto;
  }

  .form-choice__item {
    padding-left: 0;
  }

  .form__wrapper-button-send {
    width: 768px;
    margin: 0 auto;
    padding-top: 6px;
    padding-bottom: 53px;
  }
}
