// <!-- Выбор посещенных достопримечательностей -->
.form-attractions {
  padding-bottom: 24px;
}

.form-attractions__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-left: 47px;
  display: grid;
  justify-content: start;
  justify-items: start;
  gap: 17px;
}

.checkbox::before {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: $soft-gray;
  right: 100%;
}

.checkbox:hover::before {
  background-color: $hover-gray;
}

.form-attractions__checkbox:focus + .checkbox::before {
  background-color: $active-gray;
}

.checkbox:active::after {
  opacity: 0.3;
}

.checkbox::after {
  position: absolute;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 16px;
  fill: $gray;
  top: 3px;
  left: -33px;
}


.form-attractions__item-lable {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.5;
  position: relative;
  padding-left: 16px;
}

// планшет
@media (min-width: $tablet-width) {
  .form-attractions__title {
    width: 308px;
    margin: 0 auto;
    margin-top: -15px;
  }

  .form-attractions {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
  }

  .form-attractions__list {
    grid-template-columns: 1fr 1fr;
    gap: 16px 32px;
    width: 480px;
    margin: 0 auto;
    padding-left: 36px;
    text-align: left;
  }

  .form-attractions__item-lable {
    position: relative;
    padding-left: 45px;
  }

  .checkbox::before {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    border-radius: 4px;
    background-color: $soft-gray;
    right: 82%;
  }

  .checkbox::after {
    position: absolute;
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
    fill: $gray;
    top: 3px;
    left: -7px;
  }
}

.form-attractions__checkbox:checked + .checkbox::after {
  content: "";
}

// десктоп
@media (min-width: $desktop-width) {
  .form-attractions__title {
    width: auto;
    margin: 0 auto;
  }

  .form-attractions__list {
    display: flex;
    justify-content: space-between;

    padding-top: 45px;
    margin: 0 auto;
    width: 828px;
    margin-left: 65px;
  }

  .checkbox::before {
    right: 85%;
  }

  .checkbox::after {
    left: -12px;
  }
}
