
//   <!-- Приветственная картинка  Фрмы-->
.form-hero {
  background-image: url("../img/back-desktop-form.jpg");
  background-repeat: no-repeat;
  padding-top: 52px;
  padding-bottom: 67px;
  text-align: center;
  display: block;
}

.form-hero__sedona {
  width: 229px;
  height: 39px;
}


// Планшет
@media (min-width: $tablet-width) {
  .form-hero {
    background-image: url("../img/Vector.svg"), url("../img/index-background-catalog2.jpg");
    background-repeat: no-repeat, no-repeat;
    padding-top: 95px;
    padding-bottom: 114px;
    width: 768px;
    background-position-y: bottom;
  }

  .form-hero__sedona {
    width: 456px;
    height: 77px;
  }
}

// десктоп

@media (min-width: $desktop-width) {
  .form-hero {
    background-image: url("../img/intro-triangle-desktop.svg"), url("../img/back-desktop-catalog-1200.jpg");
    width: 1200px;
  }
}
