//<!-- опишите свои эмоции -->

.form-feedback-area {
  padding: 16px;
  margin-top: 17px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  resize: none;
  width: 245px;
  height: 118px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form-feedback {
  padding-bottom: 52px;
}

textarea::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

// Планшет
@media (min-width: $tablet-width) {
  .form-feedback {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
    padding-bottom: 0;
  }

  .form-feedback-area {
    width: 648px;
  }

  .form-feedback__title {
    margin-top: -30px;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback-area {
    width: 742px;
    display: block;
    margin: 0 auto;
  }
}
