// <!-- контакты для обратной свзяи -->
.form-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-contacts__item {
  text-align: initial;
  padding-top: 14px;
  display: grid;
  grid-template-columns: auto;
}

.form-contacts__item-contacts {
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.form-contacts__wrapper {
  display: flex;
}

.form-contacts__item-input {
  font-family: inherit;
  width: 184px;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    outline-width: 4px;
    outline-color: #e5e5e5;
  }

  &:focus {
    outline-style: auto;
    outline-width: 4px;
    outline-offset: -1px;
    outline-color: #e5e5e5;
  }
}

.form-contacts__item-input::placeholder {
  padding-left: 0;
}

.form-contacts__item-image {
  padding: 20px;
  background-color: #e6e6e6;
}

// планшет
@media (min-width: $tablet-width) {
  .form-contacts__wrapper {
    justify-content: flex-end;
  }

  .form-contacts__list {
    padding: 0;
    gap: 0;
  }

  .form-contacts__item-contacts {
    display: flex;
    padding-top: 16px;
    padding-left: 60px;
  }

  .form-contacts__item {
    padding-top: 0;
  }

  .form-contacts__item-input {
    width: 189px;
  }

  .form-contacts__item-input::placeholder {
    padding: 0;
  }
}

// десктоп
@media (min-width: $desktop-width) {
  .form-contacts__item-input {
    width: 100%;
  }

  .form-contacts {
    margin-left: 63px;
  }

  .form-contacts__title {
    margin-left: -45px;
  }

  .form-contacts__item-contacts {

    padding-top: 12px;
    padding-left: 18px;
  }

  .form-contacts__list.contacts {
    padding-left: 30px;
  }
}
