.form-wrapper {
  width: 280px;
}

.form-group::before {
  content: "";
  background-color: #e5e5e5;
  height: 1px;
  display: block;
}

.form__users {
  padding-bottom: 39px;
}

input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
}

// кнопка отправить ОСТАВИТЬ ОТЗЫВ
.form__wrapper-button-send {
  display: flex;
  flex-direction: column;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 3;
}

.form__button {
  font-family: inherit;
  width: 281px;
  padding: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
}

.form__button-anotation {
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: end;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  opacity: 0.6;
  color: $gray;
}

// Планшет
@media (min-width: $tablet-width) {
  .form-wrapper {
    width: calc(100% - 120px);
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 0;
  }

  .form__button {
    margin: 0;
    width: 324px;
  }

  .form__wrapper-button-send {
    padding: 16px 0 33px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .form__button-anotation {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}

// десктоп
@media (min-width: $desktop-width) {
  .form-wrapper {
    padding: 0 120px;
    width: calc(100% - 205px);
  }

  .form {
    gap: 56px 0;
  }

  .form-group {
    padding: 0;
  }

  .form__button {
    width: 384px;
  }
}
