// <!-- Подвал -->
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__form {
  padding-top: 25px;
}

.page-footer__social {
  padding-top: 33px;
}

.page-footer__title {
  margin: 0;
  padding-top: 56px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__title--catalog {
  padding-top: 30px;
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: inherit;
  list-style-type: none;
  padding: 0;
  gap: 6px;
  margin: 0;
}

.page-footer__social-item {
  width: 48px;
  height: 48px;
  background-color: $light-blue;

  &:hover {
    background-color: $blue;
    fill-opacity: 0.3;
  }

  &:active {
    background-color: $dark-blue;
    fill-opacity: 0.3;
  }
}

.page-footer__social-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.page-footer__social-img {
  fill: $white;
}

// <!-- копирайт -->
.page-footer__htmlacademy {
  padding-top: 36px;
  padding-bottom: 25px;
}

.page-footer__htmlacademy-title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.page-footer__htmlacademy-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $light-blue;
    fill: $light-blue;
  }

  &:active {
    color: $lighr-gray;
    fill: $lighr-gray;
  }
}

// планшет
@media (min-width: $tablet-width) {
  .page-footer {
    padding: 66px 0 36px;
    flex-direction: row;
    justify-content: space-between;
    width: 648px;
    margin: 0 auto;
  }

  .page-footer__title {
    padding: 0;
  }

  .page-footer__social {
    padding: 0;
  }

  .page-footer__htmlacademy {
    padding: 0;
  }
}

// десктоп
@media (min-width: $desktop-width) {
  .page-footer {
    width: 975px;
    padding: 45px 0;
  }
}
