//  <!-- секция с промо роликом -->

.page_promo {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.promo__discription {
  padding-top: 17px;
  width: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-discription__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.promo-discription__text {
  margin: 0;

  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.promo__video {
  padding-top: 38px;
}


// Планшет

@media (min-width: $tablet-width) {
  .page_promo {
    padding-bottom: 40px;
  }

  .promo__discription {
    width: 445px;
    padding-top: 57px;
  }

  .promo-discription__title {

    font-size: 30px;
    line-height: 26px;
  }

  .promo__video {
    width: 648px;
    height: 500px;
    padding-top: 65px;
  }
}
