// лого
.page-header__logo {
  text-decoration: none;
  position: absolute;
  top: -400px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation__item {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}


.navigation__item:not(:last-child) {
  margin-bottom: 1px;
}

.navigation__item:last-child {
  background: linear-gradient(180deg, rgba(0, 1, 0, 0) 75%, rgba(0, 0, 0, 0.2) 100%);
  box-shadow: none;
}

// навигация
.page-header__navigation {
  min-height: 56px;
  min-width: 320px;
  position: relative;
}

// кнопка мобильной навигации
.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 56px;
  height: 56px;
  background-color: inherit;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__navigation--closed .page-header__toggle::before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 26px;
  height: 4px;
  width: 22px;
  background-color: $light-blue;
  box-shadow: 0 7px $light-blue, 0 -7px $light-blue;
}

// кнопка при откртытом состоянии меню (крестик)
.page-header__navigation--opened .page-header__toggle {
  &::before,
  &::after {
    content: "";
    top: 26px;
    left: 12px;
    width: 28px;
    height: 4px;
    background-color: $white;
    display: block;
    position: absolute;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: $white;
  }
}

.page-header__navigation--closed .navigation__list--closed {
  display: none;
}

.navigation__list {
  width: 100%;
  min-width: 320px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $light-blue;
}

.navigation__link {
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $white;
  padding: 17px 0 12px;

  &:hover {
    background: linear-gradient(180deg, rgba(0, 1, 0, 0) 75%, rgba(0, 0, 0, 0.2) 100%);
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
    color: rgba(255, 255, 255, 0.3);
  }
}

// паншетная версия
@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    z-index: 1;
    position: absolute;
    top: 0;
  }

  .page-header__navigation {
    text-align: center;
    position: static;
    width: 768px;
  }

  .navigation__list {
    min-height: 56px;
    position: inherit;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 768px;
    background-color: $white;
  }

  .navigation__item {
    min-width: 153px;
    box-shadow: none;
  }

  .navigation__item:nth-child(3) {
    grid-column: 4 / 5;
  }

  .navigation__item:last-child {
    background: none;
  }

  .navigation__link {
    color: $black;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: $light-blue;
      background: linear-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0);
    }

    &:active {
      opacity: 0.3;
    }

    &:focus {
      color: $curent-color;
    }
  }

  .navigation__link--current {
    color: $curent-color;
  }
}

// ДЕсктоп
@media (min-width: $desktop-width) {
  .navigation__list {
    width: 1200px;
  }

  .page-header__navigation {
    width: 1200px;
  }

  .page-header__logo {
    left: auto;
  }
}
