
.page-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-header__logo {
  text-decoration: none;
  position: absolute;
  z-index: 2;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.navigation__toggle {
  z-index: 1;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 22px;
    background: #81B3D2;
    left: 14px;
    top: 22px;
    box-shadow: 0 7px #81B3D2, 0 -7px #81B3D2;
  }
}

.navigation__toggle--button {
  width: 48px;
  height: 48px;
  border: none;
  background-color: inherit;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  background-color: #81B3D2;
  width: 320px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 17px 0 12px;
}

.navigation__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
