//  <!-- секция с промо роликом -->
.promo {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.promo__description {
  padding-top: 9px;
  width: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__description-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.promo__description-text {
  margin: 0;
  margin-top: 7px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.promo__video {
  margin-top: 38px;
  position: relative;
}

.promo__video-img {
  width: auto;
}

.promo__video-button-play {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.promo__video-button-play-img {
  position: absolute;
  top: 36%;
  right: 38%;
}

// Планшет
@media (min-width: $tablet-width) {
  .promo {
    padding-bottom: 12px;
  }

  .promo__description {
    width: 445px;
    padding-top: 73px;
  }

  .promo__description-title {
    font-size: 30px;
    line-height: 26px;
  }

  .promo__video {
    margin-top: 90px;
  }

  .promo__description-text {
    margin: 12px 0 0;
  }

  .promo__video-button-play {
    top: 0;
    left: 0;
  }

  .promo__video-button-play-img {
    top: 45%;
    right: 46%;
  }

  .promo__video-img {
    width: 648px;
    height: 500px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .promo__description {
    width: 445px;
    padding-top: 66px;
  }

  .promo__description-text {
    margin-top: 10px;
  }

  .promo__video {
    padding-top: 3px;
  }

  .promo__video-img {
    width: 800px;
    height: 500px;
  }

  .promo {
    padding-bottom: 79px;
  }
}
