
.button {
  background-color: $light-blue;
  color: $white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $blue;
    color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    background-color: $darck-blue;
  }
}
